
/* ============================= */
/*        CONFIGURATION           */
/* ============================= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    overflow: hidden;

    font-family: Arial, Helvetica, sans-serif;

    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTTZc_H8p7xbta1SpMGx1_DR0grvVPzi6CnJh0bVE8g4Q&s=10");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    background-color: #111;
}


/* ============================= */
/*          TABLETTE              */
/* ============================= */

.tablette {
    position: relative;

    width: 100vw;
    height: 100vh;
}


/* ============================= */
/*            HEURE               */
/* ============================= */

.heure {
    position: absolute;

    top: 20px;
    left: 25px;

    color: white;

    font-size: 32px;
    font-weight: bold;

    letter-spacing: 1px;

    text-shadow:
        0 2px 4px rgba(0, 0, 0, 0.9),
        0 0 10px rgba(0, 0, 0, 0.7);
}


/* ============================= */
/*           BATTERIE             */
/* ============================= */

.batterie {
    position: absolute;

    top: 20px;
    right: 25px;

    color: white;

    font-size: 32px;
    font-weight: bold;

    letter-spacing: 1px;

    text-shadow:
        0 2px 4px rgba(0, 0, 0, 0.9),
        0 0 10px rgba(0, 0, 0, 0.7);
}
